# Python
__pycache__/
*.py[cod]
*$py.class
venv/
.venv/

# Database & Environment
.env
infra/postgres/data/

# Alembic
AetherFS/alembic/versions/

# IDE
.vscode/
.idea/

# Protocol
grpc

AetherFS/services/transformations/*.md
AetherFS/services/photon/*.md
