# --- Core API Framework ---
fastapi[standard]
python-dotenv
python-multipart

# --- Database & ORM (Metadata & Tracking) ---
sqlmodel
alembic
asyncpg
psycopg2-binary

# --- Messaging & Cache ---
aiokafka
redis

# --- Storage Connectors & Query Engine ---
fsspec
s3fs
duckdb
